NEXUS_FLOW_MODE=development
NEXUS_FLOW_API_HOST=127.0.0.1
NEXUS_FLOW_API_PORT=8765
NEXUS_FLOW_API_RELOAD=true
NEXUS_FLOW_BITBROWSER_BASE_URL=http://127.0.0.1:54345
NEXUS_FLOW_ADSPOWER_BASE_URL=http://127.0.0.1:50325
